body{
    margin: 0;
    background-color: #1c1c1c;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: rgba(0, 0, 255, 0);
    aspect-ratio: 960/540;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(./layered-waves-haikei.svg);
}
.michoto{
    width: 300px;
    height: 100px;
    color: #fafafa;
    font-size: 80px;
    font-family: 'Protest Strike', sans-serif;
    margin-bottom: 20px;
    margin-top: 120px;
    text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 70%);
}
.search{
    width: 60%;
    height: 50px;
    margin-bottom: 50px;
}
.search-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #333333;
}
.search-bar input{
    order: 2;
    font-family: 'Poiret One', sans-serif;
    font-size: 25px;
    color: white;
    width: 95%;
    height: 47px;
    margin-left: 10px;
    border: 0;
    background: transparent;
    float: right;
}
#chooseEngine{
    order: 1;
    margin: 8px 10px;
    width: 30px;
    height: 30px;
    background: 0;
    border: 0;
}
.bimg{
    width: 30px;
    transition: 0.3s;
}
.bimg:hover{
    transform: rotateY(180deg);
}
.widgets{
    display: flex;
    justify-content:  space-evenly;
    flex-wrap: wrap;
}
.box1{
    width: 40vh;
    height: 50vh;
    padding: 20px;
    background-color: #333333;
    border-radius: 20px;
    margin: 20px;
}
.buttons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    grid-gap: 10px;
}
.text{
    font-family: 'Poiret One', sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    width:200px;
    height: 40px;
    margin: 0 auto;
}
hr{
    margin-bottom: 30px;
}
.button1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 10%;
    width: 11vh;
    height: 11vh;
    border-radius: 5px;
    background-color: #333333;
    box-shadow: 0px 0px 10px 0px #1c1c1c;
    transition: 0.3s;
}
.img{
    width: 60%;
    height: 60%;
    border-radius: 25px;
    transition: 0.3s;
}
.button1:hover{
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px #aaff00;
}









.navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuToggle {
    margin-left: 10px;
    position: relative;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
  }
  .menuToggle::before {
    content: '+';
    position: absolute;
    font-size: 2em;
    font-weight: 200;
    color: #ff216d;
    transition: 1.5s;
  }
  .menuToggle.active::before {
    transform: rotate(225deg);
  }
  .menu {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 70px;
    z-index: -1;
    transition: transform 0.5s, width 0.5s, height 0.5s;
    transition-delay: 1s, 0.5s, 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .menuToggle.active~.menu {
    width: 240px;
    height: 70px;
    z-index: 1;
    transform: translateY(-100px);
    transition-delay: 0s, 0.5s, 0.5s;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }
  .menu::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: #fff;
    left: calc(50% - 8px);
    bottom: 4px;
    transform: rotate(45deg);
    border-radius: 2px;
    transition: 0.5s;
  }
  .menuToggle.active~.menu::before {
    transition-delay: 0.5s;
    bottom: -6px;
  }
  .menu ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 70px;
    gap: 40px;
    padding: 0;
  }
  .menu ul li {
    list-style: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-30px);
    transition: 0.25s;
    transition-delay: calc(0s + var(--i));
  }
  .menuToggle.active~.menu ul li {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition-delay: calc(0.75s + var(--i));
  }
  .menu ul li button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }
  .menu ul li a:hover {
    color: #ff216d !important;
    cursor: pointer;
  }
  .listIcon{
    width: 30px;
    height: 30px;
  }
